<p>school-index works!</p>
<body>
     <body>
        <table>
          <thead>
               <div *ngFor="let f of list">
          <div class="card">
                <tr>
                  <th>Facultad</th><th>ID</th>
                </tr>
                <div id = 'cabeza' class="card-header">
          
                    <h4>
                    <span>{{ f.nombre }}</span> 
                    <span>{{ f.id }}</span>
                  </h4>
                </div>
              <div class="card-body">
                <!-- Lista de usuarios-->
                <label for="*">
                    <div *ngFor="let e of list">
                        <span>{{ e.nombre }}</span> <br>
                        <span>{{ e.esta_acre }}</span>
                        <span>{{ e.id }}</span>
                        <div>
                          <span><a routerLink="/escuelaform/{{ e.id }}" routerLinkActive="active">Edit</a></span>
                          <span><button (click)="delete(e.id)">Delete</button></span>
                        </div>
                        </div>           
                </label>
              </div>
            </div>
      </div>
          </thead>
         
      <div>
          <a routerLink="/escuelaform" routerLinkActive="active">New school</a> <br>
      </div>
        </table>
      
      </body>
      
</body>

  
