<h1>Agregar </h1>
<form [formGroup]="faculadForm" (ngSubmit)="save()">
    <label>
        Nombres:
        <input type="text" formControlName="nombre" name="nombre" id="nombre" required>
        <div [hidden]="faculadForm.get('nombre').valid || 
        faculadForm.get('nombre').pristine" class="alert alert-danger">
            Titulo is required
        </div>
    </label>
    <br>
    <button type="submit" [disabled]="!faculadForm.valid" class="btn btn-primary">Save</button> 
</form>


<p>{{ faculadForm.value | json }}</p>


