@media (max-width:1024px) {
    .un_address{
            display:none;
    }

}

@media (max-width:768px) {
    .un_age{
            display:none;
    }

}

@media (max-width:500px) {
    .un_first{
            display:none;
    }

}

body{
    background-color: rgba(153,46,69,0.9);

}